
@import url('https://fonts.cdnfonts.com/css/sf-pixelate');

        body {
            margin: 0;
            background-image: url('https://i.redd.it/wplse3y0ten51.gif');
            background-size: cover;
            display: flex;
            font-family: 'SF Pixelate', sans-serif;
        }

        .displayFlexJustifyCenter {
            display: flex;
            justify-content: center;
        }

        .jogoEnav {
            background-color: rgba(0, 0, 0, 0.9);
            width: 70%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: end;
        }

        .menu {
            background-color: rgba(0, 0, 0, 0.9);
            height: 100vh;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            align-items: center;
            color: white;
        }

        .radar {
            border: solid;
            border-color: white;
            margin-bottom: 29px;
        }

        .informações {
            margin-top: 29px;
            width: 350px;
            height: 50%;
            background-color: rgba(0, 50, 25, 0.1);
            border-radius: 10px;
        }

        .battlefield {
            background-image: url(fundo.gif);
            background-size: cover;
            height: 650px;
            width: 90%;
            border: solid;
            border-color: white;
            margin: 0px 0px -20px;
        }

        .navBar {
            /* background-color: rgba(128, 255, 212, 1); */
            width: 90.5%;
            height: 100px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            font-size: 40px;

        }

        #valor_dificuldade {
            background-color: rgba(0, 0, 0, 0);
            color: white;
            font-family: cursive;
            font-size: 30px;
            border: solid;
            border-color: white;

        }

        #valor_dificuldade option {
            background-color: rgba(0, 0, 0, 0);
            color: black;

        }

        .personagemArea {
            /* background-color: rgba(128, 255, 212, 0.2); */
            width: 1190px;
            height: 650px;
            position: absolute;
        }

        #personagem {
            height: 100px;
            width: 80px;
            transition: 0.5s;
            margin: 280px 0px 0px 0px;
            border-radius: 50%;
            box-shadow: 0px 10px 100px rgb(255, 255, 201);
            animation-name: submarino;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-delay: 2s;
        }

        @keyframes submarino{
            from {transform: (-0.10turn);}
            to {transform: rotate(-0.02turn);}
            }

        .obstaculo {
            height: 140px;
            width: 80px;
            position:relative;
        }

        #peixe {
            transition: 4s;
            margin: 0px 0px 0px 1250px;
        }

        #peixe2 {
            transition: 4s;
            margin: 0px 0px 0px 1250px;
        }

        #peixe3 {
            transition: 4s;
            margin: 0px 0px 0px 1250px;
        }

        #spawnAleatorio {
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            overflow: hidden;
            color: white;
        }

        #cliqueAqui {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


