
body {
    background-image: linear-gradient( #37436A, #141414); 
}

.corpo2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.traçozinho {
    width: 90%;
    height: 2px;
    background-color: white;
}

.estrutura2 {
    max-width: 100%;
    height: 2040px;
    padding-top: 150px;
}

.sobreEImagem {
    display: flex;
    margin-top: 70px;
    max-width: 1300px;
    /* background-color: red; */
    font-size: 25px;
    justify-content: space-between;
    margin-bottom: 60px;
}

.sobreEImagem p{
    width: 90%;
}

.sobreEImagem img {
max-width: 400px;
border-radius: 30px;
border: solid;
border-color: white;
}

.autor {
    margin-top: 50px;
}

.autor img {
    width: 40px;
}   

.links {
    display: flex;
}

footer {
    margin-top: -500px;
}